<div class="row">
  <%= image_tag 'space_6.jpg', class: "img-responsive pull-left" %>
</div>

<div class="row box white">
  <h1>Membership</h1>
  <hr>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <h1>$25/month</h1>
      <ul>
        <li>C61 Community Membership</li>
        <li>Cancel anytime</li>
        <li>Networking opportunities</li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-6">
      <h1>$300/month</h1>
      <ul>
        <li>C61 Community Membership</li>
        <li>Cancel anytime</li>
        <li>Networking opportunities</li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-6">
      <h1>$75/month</h1>
      <ul>
        <li>C61 Community Membership</li>
        <li>Cancel anytime</li>
        <li>Networking opportunities</li>
      </ul>
    </div>
    <div class="col-sm-6 col-md-6">
      <h1>$600/month</h1>
      <ul>
        <li>C61 Community Membership</li>
        <li>Cancel anytime</li>
        <li>Networking opportunities</li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="row box white">
    <center>
    <p>
      <a class="orange homepage_button white-text caps" href="http://center61.wufoo.com/forms/center61-membership-application/" >Apply for Membership</a>
    </p>
    </center>
  </div>
</div>

<div class="row">
  <%= image_tag 'dustin.jpg', class: "img-responsive visible-sm visible-xs" %>
</div>

<div class="row light-grey">
  <div class="col-md-5" style="padding: 0">
    <%= image_tag 'dustin.jpg', class: "img-responsive pull-left hidden-sm hidden-xs" %>
  </div>
  <div class="col-md-7 box">
    <center>
      <h1 class="homepage">
        “Joining Center 61 was one of the best decisions we have made as a business.”
      </h1>
      <p>Justin Fedako, East Side Compost Pedallers</p>
    </center>
  </div>
</div>

<div class="row visible-md visible-lg" style="padding: 5em">
</div>

