<!DOCTYPE html>
<html>
<head>
  <title>Center61</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900' rel='stylesheet' type='text/css'>
  
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- <div class="nav">
	<div class="container">
	</div>
</div>
<div class="nav_accent"></div> -->

<div class="container">
	<%= yield %>
</div>

<div class="footer">
  <center>
  <p>Copyright 2013</p>
  <p>All Rights Reserved</p>
  </center>
</div>

</body>
</html>
